#patchTable {
    width: 100%;
    border-collapse: collapse;
}

#patchTable tr {
    background-color: #3a3a3f
}

#patchTable tr:hover {
    background-color: #4e4d5d
}

#patchTable td {
    text-align: center;
    padding: 3px 0px;
}

#patchTable select {
    width: initial;
}

#patchTable label {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.deleteFixture {
    width: 20px;
    height: 20px;
    background-image: url(images/close.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

#fixtureSheet {
    color: white;
    border-left: 2px solid white;
}

#fixtureSheet * {
    -webkit-user-select: none;
    user-select: none;
}

#fixtureSheet table {
    width: 100%;
    border-collapse: collapse;
}

#fixtureSheet td {
    padding: 2px;
    padding-left: 5px;
    border: 2px solid black;
}

#fixtureSheet tr {
    background-color: #3a3a3f;
}

#fixtureSheet tr.selected {
    color: yellow;
}

#fixtureSheet tr.titleLine {
    cursor: default;
}

#fixtureSheet tr:not(.titleLine) {
    cursor: pointer;
}

#fixtureSheet .measureFixture {
    width: 20px;
    height: 20px;
    background-image: url(images/measure.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

#fixtureSheet .fixtureData {
    width: 20px;
    height: 20px;
    background-image: url(images/measureSignal.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

#fixtureSheet .measureFixture:hover,
#fixtureSheet .fixtureData:hover {
    background-color: #4e4d5d;
}

.circle {
    width: 10em !important;
    height: 10em !important;
    border-radius: 7em !important;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.colorLine {
    width: 7px;
    height: 10px;
    border-radius: 3.5px;
    animation: height 2s infinite;
}

@keyframes height {
    0% {
        height: 10px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 10px;
    }
}

#popupDiv {
    display: none;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    z-index: 60;
    background-color: #C2C2C2;
    border: 2px solid gray;
    border-radius: 5px;
    align-self: center;
}

@media screen and (max-width:1000px) {
    #popupDiv {
        width: 80%;
    }
}

#popupDiv>#popupTitle {
    line-height: 1.5em;
    text-align: center;
    background: gray;
    font-weight: bold;
    margin-bottom: .5em;
    padding: .25em;
}

#popupDiv>#popupTitle.Mov {
    cursor: move;
}

#popupDiv>#popupContent {
    padding: .25em;
    max-height: 65vh;
    overflow-y: auto;
}

#popupDiv>table {
    max-width: 90%;
}

#popupDiv>#buttonsDiv {
    display: none;
    margin: .5em;
}

#popupDiv.buttons>#buttonsDiv {
    display: flex;
}

#popupDiv.buttons>#buttonsDiv>input {
    height: 3.5em;
    flex: 1;
}

#modalOverlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 59;
    background-color: rgba(20,20,20,.7);
}

#popupDiv {
    background-color: black;
    color: white;
    border: 2px solid #4e4d5d;
    box-shadow: 0px 0px 22px grey;
}

#popupDiv>#popupTitle {
    background: #4e4d5d;
}